html{
  font-size: 20px;
}
body{
  font-family: "Arial","Meiryo",sans-serif;
  text-align: center;
}
.blue{
  color: skyblue;
}
.pink{
  color: rgb(255, 192, 203);
}
.Google-Fonts{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 5px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
#basic > p {
  font-weight: bold;
}